/*!
 * All Rights Reserved
 * This software is proprietary information of
 * Intelligent Sense
 * Use is subject to license terms.
 * Filename: style.scss
 */
/*
  * Author:      kchaves@intelligentsense.com
  * Date:        28/10/2013
  * Description: Main COMPASS file. Import all the partials you need here.
  */
/**
* Mixin for image replacement
*/
/* ===================
    ALL: Fonts
   =================== */
@font-face {
  font-family: 'IntelligentSense';
  src: url("../fonts/tgl-31034-1-normschrift.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.clear {
  clear: both;
}

/* ===================
    ALL: Orange Theme
   =================== */
.header-container,
.footer-container,
.main aside {
  background: #000000;
}

.title {
  color: #fdfdfd;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  overflow: hidden;
  background-color: transparent;
  border: 0;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  border: 1px solid gray;
  padding: 0 13px;
}

.search input {
  width: 90%;
}

.search a:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  /*font-family: $font-regular;*/
  text-align: center;
  text-decoration: none;
  /*font-weight: bold;*/
  color: white;
  /*background: #111111;*/
}

nav a:hover,
nav a:visited {
  color: white;
}

nav a:hover {
  text-decoration: underline;
}

.fa {
  color: white;
  float: right;
  margin-top: 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

html,
button,
input,
select,
textarea {
  color: #221;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

h1 {
  font-size: 11pt;
  font-weight: bold;
}

h3 {
  font-size: 9pt;
}

p {
  font-size: 8pt;
  text-align: justify;
  margin-left: 7px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

nav {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
  /*width: 90%;*/
  margin: 0 3%;
  padding-top: 1%;
}

.sbx-twitter__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  -webkit-transition: background .4s ease, -webkit-box-shadow .4s ease;
  transition: background .4s ease, -webkit-box-shadow .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease, -webkit-box-shadow .4s ease;
  border: 0;
  border-radius: 17px;
  -webkit-box-shadow: inset 0 0 0 1px #E1E8ED;
          box-shadow: inset 0 0 0 1px #E1E8ED;
  background: #F5F8FA;
  padding: 0;
  padding-right: 52px;
  padding-left: 16px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contratar-button {
  background-color: #000000;
  border-radius: 28px;
  border: 2px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 5px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.info-container .agent-container {
  width: 244px;
  margin: 40px 38px;
}

.info-container .agent-container .information-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

.info-container .agent-container .information-header h1 {
  width: 86%;
}

.info-container .agent-container .information-header .certified-container {
  width: 14%;
}

.info-container .agent-container .information-body {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: auto;
}

.info-container .agent-container .information-body .agent-image-container {
  background-color: lightgreen;
}

.info-container .agent-container .information-body .agent-image-container img {
  width: 100%;
  height: auto;
}

.info-container .agent-container .information-body .agent-description-container {
  margin-left: 20px;
}

.info-container .agent-container .information-body .agent-description-container p {
  text-align: justify;
}

.info-container .agent-container .information-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-container .agent-container .information-footer h3 {
  width: 54%;
}

.info-container .agent-container .information-footer button {
  width: 46;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  /* Styles */
  nav {
    display: none;
  }
  .banner-container {
    background-image: url(/generalTraining/runForrestRun/web-boilerplate-master/app/images/banner-mobile.png);
    background-size: 100%;
    width: 100%;
    height: 304px;
    background-repeat: no-repeat;
  }
  .search-wrapper {
    margin-left: 20px;
  }
  .search-wrapper .search-title {
    font-size: 20pt;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}

@media only screen and (max-width: 1224px) {
  /* Styles */
}

/* Desktops and laptops ----------- */
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}

/* Retina Display ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

@media only screen and (min-width: 480px) {
  /* ====================
     INTERMEDIATE: Menu
    ==================== */
  nav a {
    float: left;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0;
  }
  nav li:first-child a {
    margin-left: 0;
  }
  nav li:last-child a {
    margin-right: 0;
  }
  /* ========================
     INTERMEDIATE: IE Fixes
    ======================== */
  nav ul li {
    display: inline;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {
  /* ====================
     WIDE: CSS3 Effects
    ==================== */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }
  /* ============
     WIDE: Menu
    ============ */
  .title {
    float: left;
  }
  nav {
    float: right;
    width: 38%;
  }
  /* ============
     WIDE: Main
    ============ */
  .main article {
    float: left;
    width: 57%;
  }
  .main aside {
    float: right;
    width: 28%;
  }
  .banner-container {
    background-image: url(/generalTraining/runForrestRun/web-boilerplate-master/app/images/banner-mobile.png);
    background-size: 100%;
    width: 100%;
    height: 428px;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .search-wrapper-banner {
    width: 95%;
    margin: 0 10%;
    margin-bottom: 50px;
  }
  .search-wrapper-banner .search-title {
    color: white;
    font-size: 16pt;
    padding-bottom: 30px;
  }
  .search-wrapper-banner .search {
    background-color: white;
  }
  .search-wrapper-banner .search a {
    background-color: white;
  }
  .search-wrapper {
    display: none;
  }
  .info-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 1024px) {
  .fa {
    display: none;
  }
  .banner-container {
    background-image: url(/generalTraining/runForrestRun/web-boilerplate-master/app/images/banner.png);
    background-size: 100%;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
  }
  .infor-container {
    margin: 40px;
  }
  .search-wrapper {
    display: none;
  }
  .info-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

/* ==========================================================================
    Print styles
    ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
      * Don't show links for images, or javascript/internal links
      */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=style.css.map */